.registration {
    font-size: var(--sub-heading-size);
    font-weight: bold;
    padding: 1vw;
    background-color: darkgray;
}
.registration_form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 1vw;
    padding: 1vw;
    width: 95%;
    font-size: var(--font-size);
    text-align: center;
}

.registration_form>.field {
    display: flex;
    flex-flow: column nowrap;
}

.registration_form .field.date {
    width: 40%;
}

.registration_form .check_box {
    width: 10%;
}

.registration_form .cost,
.registration_form .button {
    width: 15%;
}

.registration_options_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color: lightgray;
}

.registration_options_container h5 {
    justify-self: center;
    width: 100%;
    font-size: var(--secondary-heading-size);
}
