#registration_index {
  margin-top: 9vh;
  display: flex;
  flex-flow: column nowrap;
  gap: 1vw;
  text-align: center;
  background-color: rgb(36, 36, 60);
}

#registration_index > h1,
#registration_index > h2 a {
  color: white;
  padding: 2vw;
}
