!!! 5
%html{ lang: 'ja' }
%head
  %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
%body
  %p 新しい#{t(".#{@document_upload.category}")}文書をアップロードしました。このリンクからご覧ください：
  %a{ href: document_uploads_url } アップロードされたドキュメントのリスト
