<!DOCTYPE html>
    <html lang="ja">
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h3>ホームページに問合せがありました。</h3>

        ------------------------------
        <h4>問合せ内容</h4>
        ------------------------------
        <p>お問い合わせ日時 : <%= @inquiry.created_at.strftime('%Y年%m月%d日 %H:%M') %></p>
        ------------------------------
        <h4>お問い合わせ内容</h4>
        ------------------------------
        <p>このメールは自動配信の為、返信することはできません。</p>
        <p>ご不明な点がございましたら、下記のスクールまでお問い合わせください。</p>
        <p>お問い合わせ先校: KidsUP<%= @school.name %>校</p>

        <p><%= @inquiry.requests %></p>
        <br>
        <br>
        <br>
        ------------------------------
        <p>KidsUP(キッズアップ) お客様サポート</p>
        <p>(TEL) 0120-378-056</p>
        <p>メールアドレス: hq@kids-up.jp</p>
        <p>ホームページ: <%= link_to "https://kids-up.jp", "https://kids-up.jp" %></p>
        <p>住所: 〒120-0034</p>
        <p>東京都足立区千住1丁目4番1号 東京芸術センター11F</p>
        <p>営業時間: 10時00分~20時00分</p>
    </body>
</html>
