<!DOCTYPE html>
    <html lang="ja">
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h2><%= "#{@parent.name}様" %></h2>
        <h4><%= "#{@parent.name}" %>様のお申込が確定されました。お申込内容の変更をご希望の場合はスクールまでお問い合わせください。</h4>

        <%= sanitize @invoice.summary, tags: %w[h2 h3 h4 h5 div p], attributes: %w[class id] %>

        <%= link_to t('.view_invoice'), invoice_url(id: @invoice.id) %>

        <p> 【お持ち物】 </p>
        <p> ・通学生以外の方…上履き </p>
        <p> ・シーズナルスクールのその他持ち物についてはお手元のフライヤー、キッズアップのHPよりご確認ください。</p>
        <p> ※非会員の方は、お申し込み後にお知らせする指定の口座にお振込みをお願いいたします。</p>
        <p> ※ご兄弟のうち１名様でも会員の場合、同じお口座からのお引き落としとなります。</p>
        <p> ※入室は開始時間の10分前からとなります。</p>
        <p> ※当日はお子様のみのご参加となります。 </p>
        <p> ※お申込み後のキャンセル及びご返金はいたしかねますのでご了承ください。</p>
        <p> スタッフ一同お会いできますことを心より楽しみにお待ちいたしております！</p>
    </body>
</html>
