<!DOCTYPE html>
    <html lang="ja">
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h2><%= "#{@parent.name}様" %></h2>
        <h4><%= "#{@parent.name}" %>様のお申込が確定されました。お申込内容の変更をご希望の場合はスクールまでお問い合わせください。</h4>

        <%= sanitize @invoice.summary, tags: %w[h2 h3 h4 h5 div p], attributes: %w[class id] %>

        <%= link_to t('.view_invoice'), invoice_url(id: @invoice.id) %>
    </body>
</html>