<!DOCTYPE html>
    <html lang="ja">
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h2><%= "Hello, #{@parent.name}" %></h2>
        <h4>Your booking has been updated! Here are your new booking details:</h4>

        <%= sanitize @invoice.summary, tags: %w[h2 h3 h4 h5 div p], attributes: %w[class id] %>

        <%= link_to t('.view_invoice'), invoice_url(id: @invoice.id) %>
    </body>
</html>