#event_children_index {
    align-items: flex-start;
    font-size: var(--sub-heading-size);
    padding-left: 0;
}

#event_children_index h1 {
    align-self: center;
    color: var(--near-white);
}

#event_children_index thead tr:first-child {
    background: var(--ku-background);
}

#event_children_index tr:nth-child(odd) td,
#event_children_index tr:nth-child(odd) th {
    background: white;
}

#event_children_index tr:nth-child(even) td,
#event_children_index tr:nth-child(even) th {
    background: var(--near-white);
}

#event_children_index table {
    text-align: center;
    table-layout: fixed;
    white-space: nowrap;
    border-spacing: 0;
}

#event_children_index table td,
#event_children_index table th {
    border: 1px solid black;
    padding: 0.5vw;
}

#event_children_index table thead:first-child tr:first-child th {
    background: var(--ku-orange-hover);
    color: var(--near-white);
    font-size: 16px;
    padding: 1vw;
    position: sticky;
    top: 9vh;
    z-index: 2;
}

#event_children_index table thead:first-child tr:nth-child(2) th {
    background: var(--ku-orange-hover);
    color: var(--near-white);
    font-size: 16px;
    padding: 1vw;
    position: sticky;
    top: 13.5vh;
    z-index: 2;
}

#event_children_index table thead tr:first-child th:first-child {
    background: var(--ku-background);
    border: none;
}

#event_children_index table th#order_header,
#event_children_index table th#ja_header, 
#event_children_index table th#en_header, 
#event_children_index table th#ssid_header {
    position: sticky;
    z-index: 3;
}


#event_children_index table th.order,
#event_children_index table th.ja_name, 
#event_children_index table th.en_name, 
#event_children_index table th.ssid {
    position: sticky;
    z-index: 1;
}

#event_children_index table th.order {
    left: 0;
    min-width: 1vw;
}

#event_children_index table th.ja_name {
    left: 3vw;
    min-width: 8vw;
}

#event_children_index table th.en_name {
    left: 13vw;
    min-width: 8vw;
}

#event_children_index table th.ssid {
    left: 23vw;
    min-width: 3vw;
}
