#event_children_index {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 9vh;
    font-size: var(--sub-heading-size);
}

#event_children_index .child_info,
#event_children_index .event_child.header,
#event_children_index .event_child,
#event_children_index .slot .attendance {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5vw;
    text-align: center;
    font-weight: bold;
}

#event_children_index .slot {
    width: max(200px, 15vw);
}

#event_children_index .order {
    width: 5vw;
}

#event_children_index .name {
    width: max(100px, 10vw);
}

#event_children_index .en {
    width: max(100px, 10vw);
}

#event_children_index .event_child.header {
    top: 9vh;
}

#event_children_index .child_info.header {
    z-index: 2;
}

#event_children_index .child_info {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: darkgray;
    align-self: stretch;
}

#event_children_index .event_child.header {
    position: sticky;
    z-index: 2;
    min-width: 100vw;
    background-color: darkgray;
    width: fit-content;
}

#event_children_index #event_children {
    font-size: var(--content-size);
    width: fit-content;
    min-width: 100vw;
    background-color: var(--ku-orange);
}

#event_children_index #event_children h3 {
    padding: 1vw;
    color: white;
    font-size: var(--sub-heading-size);
}

#event_children_index .event_child {
    background-color: lightgray;
    width: fit-content;
}

#event_children_index .slot {
    width: 15vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding: 1vw;
    gap: 1vw;
}

#event_children_index .slot_name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}

#event_children_index .slot .attendance {
    height: 24px;
    display: flex;
}

#event_children_index .slot .attendance .morning,
#event_children_index .slot .attendance .afternoon {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
}
