#event_children_index {
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0;
}

#event_children_index > h1 {
  align-self: center;
  color: var(--near-white);
}

#event_children_index > h2 {
  align-self: center;
}

#event_children_index tr:nth-child(odd) td,
#event_children_index tr:nth-child(odd) th {
  background: white;
}

#event_children_index tr:nth-child(even) td,
#event_children_index tr:nth-child(even) th {
  background: var(--near-white);
}

#event_children_index table {
  text-align: center;
  table-layout: fixed;
  white-space: nowrap;
  border-spacing: 0;
  border-collapse: separate;
}

#event_children_index table td,
#event_children_index table th {
  border: 1px solid black;
  padding: 0.5rem;
}

#event_children_index table td.highlight {
  background: lightgreen;
}

#event_children_index table thead:first-child tr:first-child th {
  background: var(--ku-orange-hover);
  color: var(--near-white);
  font-size: 16px;
  padding: 1rem;
  position: sticky;
  top: 9vh;
  z-index: 2;
}

#event_children_index table thead:first-child tr:nth-child(2) th {
  background: var(--ku-orange-hover);
  color: var(--near-white);
  font-size: 16px;
  padding: 1rem;
  position: sticky;
  top: 15vh;
  z-index: 2;
}

#event_children_index th.no_ssid.ssid {
  background: red;
}

#event_children_index table th#order_header,
#event_children_index table th#ja_header,
#event_children_index table th#en_header,
#event_children_index table th#ssid_header {
  position: sticky;
  z-index: 3;
}

#event_children_index table th.order,
#event_children_index table th.ja_name,
#event_children_index table th.en_name,
#event_children_index table th.ssid {
  position: sticky;
  z-index: 1;
}

#event_children_index table th.order {
  left: 0;
  min-width: 2rem;
}

#event_children_index table th.ja_name {
  left: 2rem;
  min-width: 6rem;
}

#event_children_index table th.en_name {
  left: 12.5rem;
  min-width: 6rem;
}

#event_children_index table th.ssid {
  left: 20.5rem;
  min-width: 3rem;
}

#event_children_index .cost_summary,
#event_children_index .mail_template,
#event_children_index .changes {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(128, 128, 128, 0.7);
  z-index: 5;
}

#event_children_index .cost_summary:not(.hidden),
#event_children_index .mail_template:not(.hidden),
#event_children_index .changes:not(.hidden) {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#event_children_index .cost_summary .card,
#event_children_index .mail_template .card,
#event_children_index .changes .card {
  height: 90vh;
  width: 60vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 2vw;
  padding: 1rem;
  gap: 1vw;
  background: var(--near-white);
  overflow: scroll;
}

/* FIXME: the way the button is positioned is very hacky */
#event_children_index .cost_summary .card > .button {
  align-self: flex-end;
  margin-bottom: -5vh;
}
