#children_index {
    margin-top: 9vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

#children_index>.child.header {
    background-color: darkgray;
    top: 9vh;
    position: sticky;
}

#children_index .child {
    background-color: lightgray;
}

#children_index .child p {
    flex-basis: 12.5vw;
}