#children_index {
  margin-top: 9vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  text-align: center;
}

#children_index > .child.header {
  top: 9vh;
  position: sticky;
  font-size: var(--sub-heading-size);
  font-weight: bold;
  padding: 1vw;
  background-color: var(--ku-dark-background);
}

#children_index .child {
  padding: 1vw;
}

#children_index .child:nth-child(even) {
  background-color: var(--ku-background);
}

#children_index .child:nth-child(odd) {
  background-color: var(--ku-dark-background);
}

#children_index .child p {
  flex-basis: 8vw;
}

#children_index .child p.name,
#children_index .child p.katakana,
#children_index .child p.en {
  flex: 1 1 10vw;
}

#children_index .child p.hat {
  flex-basis: 2vw;
}

#children_index .child p.edit {
  display: flex;
  justify-content: center;
  align-items: center;
}
