#child_show {
  margin-top: 9vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  gap: 2vw;
  padding: 1vw;
}

#child_show .child,
#child_show #time_slot_container,
#child_show .event {
  width: 90vw;
  gap: 1vw;
  border-radius: 1vw;
  padding: 1vw;
  box-shadow: var(--container-shadow);
  background: var(--ku-dark-background);
}

#child_show .child {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#child_show .child h1,
#child_show .child h3 {
  width: 100%;
}

#child_show .child .personal_info,
#child_show .child .school_info,
#child_show .child .staff_info {
  width: 30%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: var(--ku-background);
  border-radius: 1vw;
  padding: 0.5vw;
  gap: 0.5vw;
}

#child_show #time_slot_container {
  display: flex;
  flex-flow: column nowrap;
  overflow: scroll;
}

#child_show .time_slot {
  flex: 0 0 30vw;
}
