#slot_children_index {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
}

#slot_children_index>h1 {
    align-self: center;
    color: var(--near-white);
}

#slot_children_index thead tr:first-child {
    background: var(--ku-background);
}

#slot_children_index tr:nth-child(odd) td,
#slot_children_index tr:nth-child(odd) th {
    background: white;
}

#slot_children_index tr:nth-child(even) td,
#slot_children_index tr:nth-child(even) th {
    background: var(--near-white);
}

#slot_children_index table {
    text-align: center;
    table-layout: fixed;
    white-space: nowrap;
    border-spacing: 0;
}

#slot_children_index table td,
#slot_children_index table th {
    border: 1px solid black;
    padding: 0.5vw;
}

#slot_children_index table thead:first-child tr:first-child th {
    background: var(--ku-orange-hover);
    color: var(--near-white);
    font-size: 16px;
    padding: 1vw;
    position: sticky;
    top: 9vh;
    z-index: 2;
}

#slot_children_index table thead:first-child tr:nth-child(2) th {
    background: var(--ku-orange-hover);
    color: var(--near-white);
    font-size: 16px;
    padding: 1vw;
    position: sticky;
    top: 13.5vh;
    z-index: 2;
}

