.option {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.3vw;
    padding: 0.3vw;
}

.option form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 0.3vw;
    padding: 0.3vw;
}