.option {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 0.3vw;
    padding: 0.3vw;
    flex: auto;
}

.option form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 0.3vw;
    flex: auto;
    padding: 0.3vw;
}