- columns = %w[ssid name katakana_name en_name category allergies hat parent]
- unsearchable = %w[allergies category hat parent]

%main#children-index
  = render 'shared/search',
           fields: columns.reject { |col| unsearchable.include?(col) },
           resource: 'children'

  %table.table.table-hover.table-striped.text-center
    %thead
      %tr.table-primary
        - columns.each do |col|
          %th{ scope: col }= t(".#{col}")
        %th

    %tbody
      = render partial: 'children/child', collection: @children
