= link_to 'https://www.p-up.world/privacypolicy/',
          class: 'btn btn-primary',
          rel: 'noopener',
          target: '_blank' do
  = t('.view_policy')

.form-check
  = check_box_tag 'privacy',
                  nil,
                  false,
                  class: 'form-check-input',
                  data: { action: 'privacy#allowSubmit',
                          'privacy-target': 'checkbox' },
                  required: true

  %label.form-check-label{ for: 'privacy', style: 'font-size: 14px;' }
    = t('.accept_policy')
