.time_slot {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 1vw;
    padding: 1vw;
    width: 88vw;
    box-shadow: var(--container-shadow);
    background: linear-gradient(var(--ku-orange), var(--ku-dark-accent));
    font-size: var(--sub-heading-size);
}

.time_slot .slot_registrations {
    display: flex;
    flex-flow: row nowrap;
    gap: 1vw;
    width: 98%;
}

.time_slot .slot_registrations .am_reg,
.time_slot .slot_registrations .pm_reg {
    flex: 1 1 50%;
}

.time_slot img {
    width: 90%;
    border-radius: 2vw;
}
