.time_slot {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 1vw;
    gap: 1vw;
    padding: 1vw;
    box-shadow: var(--container-shadow);
    background: linear-gradient(var(--ku-orange), var(--ku-dark-accent));
}

.time_slot .slot_registrations {
    display: flex;
    flex-flow: column nowrap;
    padding: 1vw;
    width: 90%;
}

.time_slot>img {
    width: 90%;
    border-radius: 2vw;
}
