<main id="time_slot_edit">
    <%= render partial: 'events/event', collection: @events, locals: { child: nil } %>
    
    <% if @events || @event %>
        <%= render 'time_slots/event_form' %>
    <% else %>
        <%= render 'time_slots/form' %>    
    <% end %>
</main>