<main id="time_slot_edit" class="flex-row justify-content-around align-items-start gap-3">
    <%= render partial: 'events/staff_event', collection: @events, locals: { child: nil }, as: :event %>

    <% if @events || @event %>
        <%= render 'time_slots/event_form' %>
    <% else %>
        <%= render 'time_slots/form' %>
    <% end %>
</main>
