<main id="time_slot_index container">
    <nav class="d-flex flex-row flex-wrap justify-content-center gap-3">
        <% @events.each do |event| %>
            <%= link_to current_user.school_manager? ? event.name : event.school.name,
                        time_slots_path(event: event.id),
                        class: "card #{' bg-primary text-white fw-semibold' if @event.id == event.id}" %>
        <% end %>
    </nav>

    <% unless @event.nil? %>
        <h1>
            <%= t('.slots_for', name: @event.name, school: @event.school.name) %>
        </h1>

        <% if current_user.admin? %>
            <%= link_to 'Add an activity to this event', new_time_slot_path(event: @event.id), class: 'btn btn-primary' %>
        <% end %>

        <div class="row row-cols-5 justify-content-evenly gap-3">
            <%= render partial: 'time_slots/time_slot', collection: @slots %>
        </div>
    <% end %>
</main>