<main id="time_slot_new" class="flex-row justify-content-around align-items-start gap-3">
    <div class="event-sidebar sticky-top">
        <% if @events %>
            <%= render partial: 'events/event', collection: @events, locals: { child: nil } %>
        <% elsif @event %>
            <%= render @event, child: nil %>
        <% end %>
    </div>

    <% if @events || @event %>
        <%= render 'time_slots/event_form' %>
    <% else %>
        <%= render 'time_slots/form' %>    
    <% end %>
</main>