<main id="time_slot_new" class="flex-row justify-content-around align-items-start gap-3">
    <div class="event-sidebar sticky-top">
        <% if @events %>
            <%= render partial: 'events/event', collection: @events, locals: { child: nil } %>
        <% else %>
            <%= render @event, child: nil %>
        <% end %>
    </div>

    <%= render 'time_slots/form' %>
</main>