<main id="time_slot_new" class="flex-row justify-content-around align-items-start gap-3">
    <% if @events %>
        <div class="event-sidebar d-flex flex-column gap-3">
            <%= render partial: 'events/event', collection: @events, locals: { child: nil } %>
        </div>
    <% elsif @event %>
        <div class="event-sidebar sticky-top">
            <%= render @event, child: nil %>
        </div>
    <% end %>

    <%= render 'time_slots/event_form' %>
</main>