-# locals: (f:, user:)

%div
  = f.label :allowed_ips, 'Allowed IPs', class: 'form-label'
  = f.text_area :allowed_ips,
                value: user.allowed_ips.join("\n"),
                class: 'form-control',
                rows: 3
  %small Add each IP address on a new line
