-# locals: (f:, user:)

:ruby
  has_pass = @user.encrypted_password.present?
  temp_pass = SecureRandom.base36(12) unless has_pass

.form-floating
  = f.text_field :password,
                 value: (has_pass ? nil : temp_pass),
                 class: 'form-control',
                 placeholder: t('.password'),
                 readonly: true
  = f.label :password, class: 'form-label'

.form-floating
  = f.text_field :password_confirmation,
                 value: (has_pass ? nil : temp_pass),
                 class: 'form-control',
                 placeholder: t('.password_confirmation'),
                 readonly: true
  = f.label :password_confirmation,
            t('.password_confirmation'),
            class: 'form-label'
