<%# Update flash message %>
<%= turbo_stream.update "flash", partial: "shared/flash" %>

<%# Update children in _user (append) %>
<%= turbo_stream.append "user#{@parent.id}_children" do %>
    <li><%= link_to @child.name, child_path(@child) %></li>
<% end %>

<%# TODO: Update children in _time_slot partials (append) %>


<%# Inform user child has been added %>
<%= turbo_stream.update "add_child", partial: "users/add_child", locals: { parent: @parent }%>