<%# Local variables %>
<% child = registration.child %>
<% slot = registration.registerable %>

<%# Content %>
<%= turbo_frame_tag "child#{child.id}_slot#{slot.id}" do %>
    <div class="registration">
        <%= link_to child.name, child_path(child) %>
        <%= render 'registrations/delete_button', registration: registration %>
    </div>
<% end %>
                
