%main.justify-content-start#price-list-index
  = link_to t('.create_price_list'),
            new_price_list_path,
            class: 'btn btn-primary'

  .d-flex.justify-content-around.flex-wrap.gap-3
    = render partial: 'price_lists/price_list', collection: @price_lists
