<th data-controller="filter"
    data-filter-siblings-value=<%= siblings %>
    data-filter-col-value=".<%= column %>">
    <div class="form-floating">
        <%= text_field_tag "#{column}_filter",
                            nil,
                            {
                                placeholder: t('.filter'),
                                class: 'form-control',
                                data: {
                                    action: 'keydown.enter->filter#change',
                                    'filter-target' => 'input'
                                }
                            } %>
        <%= label_tag "#{column}_filter",
                      t('.filter'),
                      class: 'form-label' %>
    </div>
</th>