.card.event-card.d-grid
  = link_to choco_party_url, target: '_blank', rel: 'noopener' do
    = picture_tag(choco_party_avif_path(child), choco_party_image_path(child),
      image: { class: 'img-fluid img-thumbnail', alt: choco_party_title(child) })

  .d-flex.flex-column.flex-grow-1.gap-3
    %h2.fw-bold
      = link_to choco_party_title(child), choco_party_url, target: '_blank', rel: 'noopener'

    %p= '※Choco Party のお申込みは別サイトに変更となりました'
