<main id="charts_show_edits">
    <%= render 'charts/nav' %>

    <h1>Edit Stats</h1>

    <%= line_chart @data[:customer_edits],
                   title: "Customer Edits by Day" %>

    <%= line_chart @data[:staff_edits],
                   title: "Staff Edits by Day" %>
</main>