<main id="charts_show_coupons">
    <%= render 'charts/nav' %>

    <h1>Coupon Stats</h1>

    <%= line_chart @data.group_by_day(:created_at).count,
                   title: "Daily Coupon Use",
                   height: "50vh" %>

    <%= pie_chart @data
                  .where.not(code: "")
                  .group(:code).count,
                  title: "Coupon Popularity",
                  height: "50vh" %>
</main>