<main id="charts_show">
    <h1>Select school:</h1>

    <% if current_user.admin? %>
        <nav class="d-flex flex-row flex-wrap justify-content-center gap-3">
            <%= link_to "All Schools", charts_path, class: "card" %>
            <% @schools.each do |school| %>
                <%= link_to school.name, chart_path(school.id), class: "card #{' bg-primary text-white fw-semibold' if @school.id == school.id}"  %>
            <% end %>
        </nav>
    <% end %>
    
    <% if current_user.area_manager? %>
        <nav class="d-flex flex-row flex-wrap justify-content-center gap-3">
            <%= link_to "Area Schools", charts_path, class: "card" %>
            <% @schools.each do |school| %>
                <%= link_to school.name, chart_path(school.id), class: "card #{' bg-primary text-white fw-semibold' if @school.id == school.id}"  %>
            <% end %>
        </nav>
    <% end %>

    <h1>Select stat type:</h1>

</main>