#invoice_index .invoice {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    background: var(--ku-dark-background);
    gap: 1vw;
    padding: 1vw;
    border-radius: 2vw;
    box-shadow: var(--container-shadow);
    text-align: center;
}

#invoice_index .invoice #key_info,
#invoice_index .invoice #details {
    background: var(--ku-background);
    border-radius: 2vw;
    padding: 1vw;
}

#invoice_index .invoice #key_info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

#invoice_index .invoice #details {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
}

#invoice_index .invoice #details h1,
#invoice_index .invoice #details h2,
#invoice_index .invoice #details h3 {
    width: 100%;
}

#invoice_index .invoice #details .slot_regs {
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#invoice_index .invoice #details .slot_regs p:first-child {
    font-weight: bold;
    align-self: stretch;
}

#invoice_index .invoice #final_cost {
    background: var(--ku-background);
    border-radius: 2vw;
    padding: 1vw;
    width: 86vw;
 }