%main.container.my-5
  .card.mx-auto{ style: "max-width: 500px;" }
    .card-body.text-center
      %h2.mb-3 ありがとうございます！
      %p ご予約が正常に送信されました。
      %p 今後の指示については、メールをご確認ください。
      = link_to 'ホームへ戻る', root_path, class: 'btn btn-primary mt-3'
