%main.container.my-5
  .card.mx-auto{ style: "max-width: 500px;" }
    .card-body.text-center
      %h2.mb-3 Thank You!
      %p Your booking has been successfully submitted.
      %p Please check your email for further instructions.
      = link_to 'Return to Home', root_path, class: 'btn btn-primary mt-3'
