<main id="error_403">
    <div class="card w-50 p-5">
        <h1 class="bg-danger text-white rounded p-3">
            403: そのリソースにアクセスする権限がありません。
        </h1>
        <% if current_user.customer? %>
            <p>
                ページ上部のナビゲーションバーを使用して別のページに移動してください。
            </p>
        <% else %>
            <p>
                このページにアクセスできるべきだと思われる方は、ブレットまたはリロイまでご連絡ください。
            </p>
        <% end %>
    </div>
</main>