<main id="error_404">
    <div class="card w-50 p-5">
        <h1 class="bg-danger text-white rounded p-3">404: ページが見つかりません</h1>
        <h3>お探しのページは見つかりませんでした。ナビゲーションバーを使用して別のページに移動してください。</h3>
    </div>
</main>