<h1 class="w-100 text-center"><%= area.name %></h1>

<h2 class="w-100 text-center">
    <%= "Managed by #{area.managers.map(&:name).join(", ")}" %>
</h2>

<%= link_to 'Edit Area', edit_area_path(area), class: 'btn btn-primary w-100' %>