%main.justify-content-start#areas-edit
  = link_to 'School List',
            areas_path,
            class: 'btn btn-secondary align-self-start'

  = render 'areas/form', area: @area, managers: @managers
