<main id="area_index" class="d-flex flex-row flex-wrap gap-3 p-3">
    <div class="d-flex flex-wrap gap-3">
        <%= link_to 'Create Area',
                    new_area_path,
                    class: 'btn btn-primary' %>
        
        <%= link_to 'Create School',
                new_school_path,
                class: 'btn btn-primary' %>
    </div>

    <% @areas.each do |area| %>
        <%= render area, partial: 'areas/area' %>

        <%= render partial: 'schools/school', collection: area.schools %>
    <% end %>
</main>