<main id="areas_new" class="justify-content-start">
    <%= link_to 'School List',
                areas_path,
                class: 'btn btn-secondary align-self-start' %>

    <%= render 'areas/form' %>
</main>