<main id="area_show" class="d-flex justify-content-start">
    <div class="card">
        <%= link_to 'School List',
                    areas_path,
                    class: 'btn btn-secondary align-self-start' %>
        <%= render @area %>
    </div>
</main>