.event {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  overflow-y: scroll;
  border-radius: 1vw;
  padding: 1vw;
  box-shadow: var(--container-shadow);
  background-color: var(--ku-dark-background);
}

.event a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event .options_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: var(--ku-background);
  border-radius: 1vw;
  padding: 1vw;
}

.event .options_container h3 {
  width: 90%;
}

.event .option {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.event .option .name {
  font-weight: bold;
}

.event .event_management {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
