#events_new,
#events_edit {
  margin-top: 9vh;
  padding: 1vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

form.event_form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  width: 94vw;
  overflow: scroll;
  padding: 2vw;
  gap: 1vw;
  border-radius: 2vw;
  box-shadow: var(--container-shadow);
  background: var(--ku-dark-background);
}

form.event_form input:not(.button),
form.event_form select,
form.event_form textarea {
  border-radius: 1vw;
  border: none;
  padding: 5px;
  text-align: center;
  background-color: var(--ku-orange-hover);
}

.event_form input:not(.button):focus-visible {
  outline: none;
  box-shadow: 0.5vw 1vw 1vw var(--ku-dark-accent);
}

.event_form .button,
.event_form .field {
  font-size: 24px;
}

.event_form .field {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

.event_form h2,
.event_form h3 {
  flex-basis: 100%;
  text-align: center;
}

.event_form h2 {
  font-size: 36px;
}

.event_form h3 {
  font-size: 26px;
}

.event_form .event_fields,
.event_form .fields_wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--ku-background);
  gap: 2vw;
  padding: 1vw;
  border-radius: 2vw;
}

.event_form .time_slots {
  display: flex;
  flex-flow: row wrap;
  gap: 2vw;
}

.event_form .fields_wrapper {
  flex-basis: 44vw;
}

.event_form .actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
