/* Styles for the main element */
#event_show {
    margin-top: 9vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    gap: 2vw;
    padding: 1vw;
}

/* Set size for section headings */
#event_show .event h3,
#event_show>h2 {
    font-size: var(--main-heading-size);
}

/* Styles for all outer containers */
#event_show #time_slot_container,
#event_show .event {
    width: 90vw;
    gap: 1vw;
    padding: 1vw;
}

/* Styles for all shadowed containers */
#event_show #time_slot_container,
#event_show .event,
#event_show .time_slot {
    display: flex;
    border-radius: 1vw;
    padding: 1vw;
    box-shadow: var(--container-shadow);
}

#event_show .event {
    justify-content: center;
}

#event_show #time_slot_container {
    flex-flow: column nowrap;
    height: fit-content;
    overflow-x: scroll;
    background: var(--ku-dark-background);
}

#event_show .time_slot {
    height: fit-content;
}

#event_show .time_slot ul {
    list-style-type: none;
}

#event_show .time_slot li {
    display: flex;
    justify-content: center;
    gap: 1vw;
}