/* Styles for the main element */
#event_show {
    margin-top: 9vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    gap: 1vw;
    padding: 1vw;
}

#event_show h2 {
    width: 100%;
}

/* Styles for all shadowed containers */
#event_show .time_slot {
    width: max(30vw, 300px);
    border-radius: 1vw;
    padding: 1vw;
    gap: 1vw;
    box-shadow: var(--container-shadow);
    font-size: var(--content-size);
}

#event_show .time_slot .date {
    flex: 1 1 100%;
    text-align: left;
}

#event_show .time_slot .morning,
#event_show .time_slot .afternoon {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5vw;
}

#event_show .wrap-collapsible {
    flex-basis: 100%;
}

#event_show input[type='checkbox'] { 
    display: none; 
} 

.wrap-collapsible { 
    margin: 1.2rem 0; 
} 

.lbl-toggle.button { 
    display: block; 
    cursor: pointer;
    width: 97vw;
    transition: all 0.25s ease-out;
} 

.lbl-toggle::before { 
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
} 

.toggle:checked+.lbl-toggle::before { 
    transform: rotate(90deg) translateX(-3px);
} 

.collapsible-content { 
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content { 
    max-height: fit-content;
} 

.toggle:checked+.lbl-toggle { 
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
} 

.collapsible-content .content-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 105, 255, .2);
    border-bottom: 1px solid rgba(0, 105, 255, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

#event_show .children {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    padding: 1vw;
    gap: 1vw;
    background: var(--ku-dark-background);
}

#event_show .children .child {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
}

.collapsible-content p { 
    margin-bottom: 0; 
}

#event_show .time_slot .add_reg {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

#event_show .time_slot .morning .add_reg:nth-child(2) {
    flex: 1 1 55%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#event_show .time_slot .afternoon .add_reg:first-child {
    flex: 1 1 100%;
}

#event_show .time_slot a {
    width: 40%;
    border-radius: 2vw;
}

#event_show .time_slot img {
    width: 100%;
    border-radius: 2vw;
}

#event_show .time_slot {
    height: fit-content;
    background: var(--near-white);
}

#event_show .time_slot ul {
    list-style-type: none;
}

#event_show .time_slot li {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

#event_show #price_bar {
    position: sticky;
    bottom: 1vw;
    left: 1vw;
    right: 1vw;
    width: 95vw;
    padding: 1vw;
    z-index: 10;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background: var(--near-white);
    border-radius: 1vw;
}