/* Styles for the main element */
#event_show {
    margin-top: 9vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;
    gap: 1vw;
    padding: 1vw;
}

/* Styles for all shadowed containers */
#event_show .time_slot {
    width: max(30vw, 300px);
    border-radius: 1vw;
    padding: 1vw;
    gap: 1vw;
    box-shadow: var(--container-shadow);
    font-size: var(--content-size);
}

#event_show .time_slot .date {
    flex: 1 1 100%;
    text-align: left;
}

#event_show .time_slot .morning,
#event_show .time_slot .afternoon {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5vw;
}

#event_show .time_slot .add_reg {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

#event_show .time_slot .add_reg.title {
    flex: 1 1 58%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#event_show .time_slot .afternoon .add_reg.title {
    flex: 1 1 100%;
}

#event_show .time_slot a {
    width: 40%;
    border-radius: 2vw;
}

#event_show .time_slot img {
    width: 100%;
    border-radius: 2vw;
}

#event_show .time_slot {
    height: fit-content;
    background: var(--near-white);
}

#event_show .time_slot ul {
    list-style-type: none;
}

#event_show .time_slot li {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

#event_show #price_bar {
    position: sticky;
    bottom: 1vw;
    left: 1vw;
    right: 1vw;
    width: 95vw;
    padding: 1vw;
    z-index: 10;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background: var(--near-white);
    border-radius: 1vw;
}