%table
  %thead
    %tr
      %th Child name
      %th School
      %th Category

  %tbody
    - @document_uploads.each do |document_upload|
      %tr
        %td= document_upload.child_name
        %td= document_upload.school.name
        %td= document_upload.category
%br

= link_to 'New Document upload', new_document_upload_path
