<main id="survey_show">
    <%= link_to t('.survey_list'),
                surveys_path,
                class: 'btn btn-primary align-self-start' %>

    <%= render @survey %>

    <h3>Responses</h3>

    <div class="card">
        <%= render 'survey_responses/survey_response_table',
                    survey: @survey,
                    responses: @responses %>
    </div>
</main>