<main id="survey_show">
    <%= render @survey %>

    <h3>Responses</h3>

    <%= render 'survey_responses/survey_response_table',
                survey: @survey,
                responses: @responses %>
</main>