%main.justify-content-start#schools-new
  - if current_user.admin? || current_user.area_manager?
    = link_to t('.school_list'),
              areas_path,
              class: 'btn btn-primary align-self-start'

  = render partial: 'schools/form',
           locals: { areas: @areas, images: @images, school: @school }
