<main id="school_show" class="d-flex justify-content-start">
    <%= link_to 'School List',
                areas_path,
                class: 'btn btn-secondary align-self-start' %>

    <%= render @school %>
</main>