-# locals: (child:, siblings:, event:)

- if siblings.size.positive?
  %h3.text-center.w-100
    ＋ボタンを押すと、お子様のお申込内容を他のお子様に反映 |
    させることができ、ご兄弟で同じ日程のお申込が出来ます。|
    （反映させる前に、1人目のお申込を確定させる必要がございます。）|

- if child.internal? && event.seasonal?
  %h3.text-center.w-100
    通常レッスン日(午後)は選択しないでください。

%hr.border.border-secondary.border-1.w-100
