-# locals: (child:, siblings:, event:)

- if siblings.size.positive?
  %h5.text-center.w-100
    ＋ボタンを押すと、お子様のお申込内容を他のお子様に反映
    させることができ、ご兄弟で同じ日程のお申込が出来ます。
    （反映させる前に、1人目のお申込を確定させる必要がございます。）

- if child.internal? && event.seasonal?
  %h5.text-center.w-100
  【通常レッスン日(午後)にお申し込みの場合】<br>
  ※2,500円のみでシーズナルアクティビティにご参加いただけます。<br>
  ※コース割は適用外です。<br>
  ※料金は申込後、金額を調整のうえお知らせいたします。

%hr.border.border-secondary.border-1.w-100
