<div class="form-check d-flex justify-content-center align-items-center gap-2">
    <input type="checkbox"
            id="survey_response_<%= opt %>"
name="survey_response[answers][<%= opt %>]"
            class="form-check-input" />
    <%= f.label opt,
                class: 'form-check-label' %>
</div>