<div>
    <%= f.label q['text'], class: 'form-label' %>
    <%= f.select "[answers][#{q['text']}]",
                 q['options'].split(",").map(&:strip),
                 {},
                 { class: 'form-select', id: q['text'] } %>
</div>