<table class="table table-primary table-striped table-hover">
    <thead>
        <th><%= t('.child_name') %></th>
        <% survey.questions.each do |q| %>
            <th><%= q['text'] %></th>
        <% end %>
    </thead>
    <tbody>
        <% responses.each do |r| %>
            <tr>
                <td><%= r.child.name %></td>
                <% r.answers.each do |_k, v| %>
                    <%= v %>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>