<table class="table table-striped table-hover">
    <thead class="table-primary">
        <th><%= t('.child_name') %></th>
        <% survey.questions.each do |q| %>
            <th><%= q['text'] %></th>
        <% end %>
    </thead>
    <tbody>
        <% responses.each do |r| %>
            <%= render 'survey_responses/survey_response', survey_response: r %>
        <% end %>
    </tbody>
</table>