/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    --container-shadow: 0px 0.5vw 0.5vw grey;
    --ku-orange: #ef8200;
    --ku-orange-hover: #fb961b;
    --main-heading-size: min(4vh, 4vw);
    --sub-heading-size: min(3vh, 3vw);
    --font-size: min(2.5vh, 2.5vw);
    font-size: min(2.5vh, 2.5vw);
}

h1,
h2,
h3,
h4,
h5,
h6, 
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.alert,
.notice {
    text-align: center;
    font-weight: bold;
    padding: 1vw;
}

.alert {
    background-color: red;
    color: white;
}

.notice {
    background-color: lightgreen;
    color: green;
}

#nav_bar {
    position: sticky;
    top: 0;
    height: 9vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #ef8200;
    box-shadow: 0.8vw 0.8vh 1.6vh grey, -0.8vw 0.8vh 1.6vh grey;
}

#nav_bar a {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    height: 100%;
}

#nav_bar a:hover {
    color: #ef8200;
    background-color: white;
}

#nav_bar a:first-child {
    background-image: url("white_logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    flex: 1 0 150px;
}

#nav_bar a:first-child:hover {
    background-image: url("logo.png");
}