/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    --container-shadow: 0px 0.5vw 0.5vw grey;
    --ku-orange: #ef8200;
    --ku-orange-hover: #fb961b;
    --ku-dark-accent: #d45e69;
    --ku-background: #80b4cf;
    --ku-dark-background: #1487b8;
    --main-heading-size: min(4vw, 32px);
    --sub-heading-size: min(1.5vw, 20px);
    --content-size: min(1.5vw, 16px);
    font-size: min(1.5vw, 16px);
}

body {
    background-color: var(--ku-background);
}

h1,
h2,
h3,
h4,
h5,
h6, 
ul,
li,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

#flash {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.alert,
.notice {
    text-align: center;
    font-weight: bold;
    padding: 3vh;
}

.alert {
    background-color: red;
    color: white;
}

.notice {
    background-color: lightgreen;
    color: green;
}

#nav_bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    height: 9vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #ef8200;
    box-shadow: 0.8vw 0.8vh 1.6vh grey, -0.8vw 0.8vh 1.6vh grey;
    font-size: var(--sub-heading-size);
}

#nav_bar a {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    height: 100%;
}

#nav_bar a:hover {
    color: #ef8200;
    background-color: white;
}

#nav_bar a:first-child {
    background-image: url("white_logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    flex: 1 0 150px;
}

#nav_bar a:first-child:hover {
    background-image: url("logo.png");
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 1vw;
    padding: 0.5vw;
    text-align: center;
    font-size: var(--content-size);
    font-weight: bold;
    background: linear-gradient(var(--ku-orange), var(--ku-dark-accent));
    border: 1px outset var(--ku-orange);
}

.button:hover {
    background: linear-gradient(var(--ku-orange-hover), var(--ku-dark-accent));
    border: 1px inset var(--ku-orange);
}

.button.attending {
    background: linear-gradient(lightgreen, green);
    border: 1px outset green;
}

.button.attending:hover {
    background: linear-gradient(red, darkred);
    border: 1px inset darkred;
}

.button:active,
input:active {
    border-style: inset;
}