/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary: #f48000;
$secondary: #707070;

:root {
  --container-shadow: 0px 0.5vw 0.5vw grey;
  --ku-orange: #f48000;
  --ku-orange-hover: #fb961b;
  --ku-dark-accent: #d45e69;
  --ku-background: #80b4cf;
  --ku-dark-background: #1487b8;
  --main-heading-size: 32px;
  --near-black: #222222;
  --near-white: #f2f2f2;
  --sub-heading-size: 20px;
  --content-size: 16px;
}

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@media print {
  .links,
  .counter,
  #nav_bar {
    display: none !important;
  }
}

body {
  background: var(--bs-gray-300);
}

.btn {
  --bs-btn-border-radius: 5rem;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  padding-top: 3vw;
  gap: 1vw;
  margin-top: 9vh;
  background: var(--bs-gray-300);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

#flash {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.alert,
.notice {
  text-align: center;
  font-weight: bold;
  padding: 3vh;
}

.alert {
  background-color: red;
  color: white;
}

.notice {
  background-color: lightgreen;
  color: green;
}

#nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  height: 9vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #4e4a4a;
  box-shadow: 0.8vw 0.8vh 1.6vh grey, -0.8vw 0.8vh 1.6vh grey;
  font-size: var(--sub-heading-size);
}

.card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  gap: 1vw;
  border-radius: 1vw;
  text-align: center;
  box-shadow: var(--container-shadow);
  background-color: var(--bs-gray-100);
}

#nav_bar a {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--near-white);
  font-weight: bold;
  height: 100%;
}

#nav_bar a:hover {
  color: #4e4a4a;
  background-color: white;
}

#nav_bar a:first-child {
  background-image: image-url("white_logo.svg");
  background-position: center;
  background-size: 90% 90%;
  background-repeat: no-repeat;
  flex: 1 0 150px;
}

#nav_bar a:first-child:hover {
  background-image: url("logo.svg");
}

input[type="text"]:read-only,
input[type="text"]:disabled {
  background: grey;
}

.btn-primary {
  background: $primary;
  color: var(--near-white);
  font-weight: bold;
  &:hover {
    background: var(--near-white);
    color: $primary;
    border: 1px inset $primary;
  }
}

.btn-secondary {
  background: $secondary;
  color: var(--near-white);
  font-weight: bold;
  &:hover {
    background: var(--near-white);
    color: $secondary;
    border: 1px inset $secondary;
  }
}

.button-ku-registered {
  background: linear-gradient(lightgreen, green);
  border: 1px outset green;
}

.button-ku-registered:hover {
  background: linear-gradient(red, darkred);
  border: 1px inset darkred;
}

.button-ku:active,
input:active {
  border-style: inset;
}

.hidden {
  display: none;
}

// Child

main#child_show {
  gap: 3vw;
}

main#child_show .card {
  width: 90%;
}

main#child_show .card .info {
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

main#child_show .card .personal_info,
main#child_show .card .school_info,
main#child_show .card .staff_info {
  width: 30%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: var(--bs-gray-200);
  border-radius: 1vw;
  padding: 0.5vw;
  gap: 0.5vw;
}

// Devise

main#login,
main#sign-up {
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  height: 100vh;
}

main#login {
  background-image: image-url("login_splash.jpg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

#reset-pass {
  text-align: right;
}

main#login form#new_user {
  border-radius: 4rem 4rem 0 0;
}

main#sign-up form#new_user img {
  width: 20%;
}

form#new_user {
  width: 100vw;
  background-color: white;
  overflow: scroll;
}

// Events

.card img {
  width: 90%;
  border-radius: 2vw;
}

main#event_index .card a,
main#event_index .card {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

main#event_index .card .options_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: var(--ku-background);
  border-radius: 1vw;
  padding: 1vw;
}

main#event_index .card .options_container h3 {
  width: 90%;
}

main#event_index .card .option {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

main#event_index .card .option .name {
  font-weight: bold;
}

main#event_index .card .event_management {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

main#event_index .card .event_management a {
  width: 100%;
}

// Forms

form > .errors {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--sub-heading-size);
}

form .form-control,
form .form-check-input,
form .form-select {
  background-color: var(--bs-gray-200);
}

form .input-group-text {
  background-color: var(--bs-gray-300);
}

form input {
  text-align: center;
}

// User#show

main#user_show {
  gap: 3vw;
}

main#user_show .card {
  width: 90vw;
}

main#user_show ul li {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  gap: 1vw;
}

main#user_show .user_options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1vw;
  gap: 0.5vw;
}

main#user_show #add_child {
  width: 95%;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
  gap: 1vw;
  background-color: var(--bs-gray-100);
}

#add_child .find_child,
#add_child .add_new_child {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  flex-basis: 40%;
  background-color: var(--bs-gray-100);
  padding: 1vw;
}
