/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary: #f48000;
$secondary: #707070;

:root {
  --container-shadow: 0px 0.5vw 0.5vw grey;
  --ku-orange: #f48000;
  --ku-orange-hover: #fb961b;
  --ku-dark-accent: #d45e69;
  --ku-background: #80b4cf;
  --ku-dark-background: #1487b8;
  --main-heading-size: 32px;
  --near-black: #222222;
  --near-white: #f2f2f2;
  --sub-heading-size: 20px;
  --content-size: 16px;
}

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

.btn {
  --bs-btn-border-radius: 5rem;
}

body {
  background-color: var(--ku-background);
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  gap: 1vw;
  margin-top: 9vh;
  background: var(--ku-background);
  min-height: 87vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

#flash {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.alert,
.notice {
  text-align: center;
  font-weight: bold;
  padding: 3vh;
}

.alert {
  background-color: red;
  color: white;
}

.notice {
  background-color: lightgreen;
  color: green;
}

#nav_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 9vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #ef8200;
  box-shadow: 0.8vw 0.8vh 1.6vh grey, -0.8vw 0.8vh 1.6vh grey;
  font-size: var(--sub-heading-size);
}

#nav_bar a {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--near-white);
  font-weight: bold;
  height: 100%;
}

#nav_bar a:hover {
  color: #ef8200;
  background-color: white;
}

#nav_bar a:first-child {
  background-image: image-url("white_logo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 1 0 150px;
}

#nav_bar a:first-child:hover {
  background-image: url("logo.svg");
}

form > .errors {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--sub-heading-size);
}

input[type="text"]:read-only,
input[type="text"]:disabled {
  background: grey;
}

.btn-primary {
  background: $primary;
  color: var(--near-white);
  font-weight: bold;
  &:hover {
    background: var(--near-white);
    color: $primary;
    border: 1px inset $primary;
  }
}

.btn-secondary {
  background: $secondary;
  color: var(--near-white);
  font-weight: bold;
  &:hover {
    background: var(--near-white);
    color: $secondary;
    border: 1px inset $secondary;
  }
}

.button-ku-registered {
  background: linear-gradient(lightgreen, green);
  border: 1px outset green;
}

.button-ku-registered:hover {
  background: linear-gradient(red, darkred);
  border: 1px inset darkred;
}

.button-ku:active,
input:active {
  border-style: inset;
}

.hidden {
  display: none;
}

// Devise

main#login,
main#sign-up {
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  height: 100vh;
}

main#login {
  background: image-url("login_splash.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

#reset-pass {
  text-align: right;
}

form#new_user {
  width: 100vw;
  background-color: white;
  border-radius: 4rem 4rem 0 0;
}

form#new_user input:not(.btn) {
  background-color: var(--bs-gray-200);
}
