#school_index {
    margin-top: 9vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.school.header {
    top: 9vh;
    position: sticky;
    font-size: var(--sub-heading-size);
    font-weight: bold;
    padding: 1vw;
    background-color: var(--ku-dark-background);
}

.school {
    padding: 1vw;
}

.school:nth-child(even) {
    background-color: var(--ku-background);
}

.school:nth-child(odd) {
    background-color: var(--ku-dark-background);
}