#school_index {
    margin-top: 9vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

#school_index>.school.header {
    font-weight: bold;
    background-color: darkgray;
    top: 9vh;
    position: sticky;
}

#school_index .school {
    background-color: lightgray;
}