main#school_index .school {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

main#school_index .school > .address {
  flex-basis: 30vw;
}

main#school_index .school > .area,
main#school_index .school > .name,
main#school_index .school > .phone {
  flex-basis: 18vw;
}

main#school_index .school > .children {
  flex-basis: 8vw;
}
