<p><%= @resource.name %>様</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Kids UPシーズナル申込フォームの登録メールアドレスが以下に変更されましたのでご連絡いたします。</p>
  <p><%= @resource.unconfirmed_email %></p>
<% else %>
  <p>Kids UPシーズナル申込フォームの登録メールアドレスが以下に変更されましたのでご連絡いたします。</p>
  <p><%= @resource.email %></p>
<% end %>
よろしくお願いいたします。