<% columns = %w[number created_at child_name parent_name phone email requests notes child_grade setsumeikai child_birthday kindy ele_school start_date referrer edit delete] %>

<table class="table table-hover table-striped text-center align-self-start">
    <thead>
        <tr class="table-primary">
            <% columns.each do |col| %>
                <th scope="col"><%= t(".#{col}") %></th>
            <% end %>
        </tr>
        <tr>
            <% columns.each do |col| %>
                <%= render partial: 'shared/filter_header',
                        locals: { column: col, siblings: '0' } %>
            <% end %>
        </tr>
    </thead>

    <tbody>
        <%= render partial: 'inquiries/inquiry', collection: @inquiries %>
    </tbody>
</table>