/* For all User partials */

.user_partial {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    gap: 1vw;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 1vw;
    text-align: center;
    box-shadow: var(--container-shadow);
}

.user_partial .children,
.user_partial .key_info {
    flex: 1 1 auto;
}

.user_partial .key_info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: clip;
}

.user_partial ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: max(20px, 2vw);
}

.user_partial .user_options {
    flex: 0 0 auto;
}