#user_index {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1vw;
    padding: 1vw;
    margin-top: 1vw;
}


#user_index .user {
    height: max(150px, 15vw);
}