/* When editing in place */

.user form.edit_user {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  height: fit-content;
  overflow: scroll;
  padding: 2vw;
  gap: 1vw;
}

#user_show #school_container {
  flex-flow: column nowrap;
}

#user_show #school_container .school > .address {
  flex-basis: 25vw;
}

#user_show #school_container .school > .area,
#user_show #school_container .school > .name,
#user_show #school_container .school > .phone {
  flex-basis: 10vw;
}

#user_show #school_container .school > .children {
  flex-basis: 5vw;
}

#user_show #school_container .school > .name {
  font-weight: bold;
}
