<main id="setsumeikai_show">
    <%= link_to t('.index'),
                setsumeikais_path,
                class: 'btn btn-primary align-self-start' %>

    <%= render @setsumeikai %>

    <h3><%= t('.inquiries') %></h3>
    
    <% unless @inquiries.empty? %>
        <%= render 'inquiries/inquiry_table' %>
    <% end %>
</main>