= link_to t('nav_bar.children'),
          children_path,
          class: 'nav-link'

= link_to t('nav_bar.customers'),
          users_path,
          class: 'nav-link'

= link_to t('nav_bar.time_slots'),
          time_slots_path,
          class: 'nav-link'

= link_to t('nav_bar.events'),
          events_path,
          class: 'nav-link'
