<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <br>
    <br>
    <br>
    <p>このメールは自動配信の為、返信することはできません。</p>
    <p>ご不明な点がございましたら、下記のスクールまでお問い合わせください。</p>
    <%= image_tag "http://localhost:3000/images/logo_gif.gif" %>
    <p>株式会社Kids-UP</p>
  </body>
</html>